<div class="details">
  <div class="container details__container">
    <div class="film">
      <img class="film__image" [src]="film?.imageSrc" width="142" height="200">
      <div class="film__details">
        <h2 class="film__heading">{{film?.title}}</h2>
        <p class="film__info">
          <span class="genres">{{film?.genres.join(', ')}}</span>
          <span class="age">{{film?.age}}+</span>
          <span class="duration">{{film?.duration.hours}} ч <span *ngIf="film?.duration.minutes">{{film?.duration.minutes}} мин</span></span>
        </p>
        <p class="film__description">{{film?.description}}</p>
        <p class="film__info">с {{film?.startDate | moment: "D MMMM"}} по {{film?.endDate | moment: "D MMMM"}}</p>
      </div>
    </div>
    <div class="cinemas">
      <div class="cinema" *ngFor="let cinema of cinemas">
        <div class="cinema__info">
          <h3 class="cinema__heading">{{cinema?.name}}</h3>
          <p class="cinema__address">г. {{cinema?.city}}, {{cinema?.address}}</p>
        </div>
        <div class="seances">
          <ng-container *ngFor="let seance of film?.seances">
            <div class="seance" *ngIf="seancesIds?.includes(seance._id) && seance.cinema.name === cinema.name" (click)="chooseSeance(film._id, seance._id)">
              <p class="seance__time">{{seance.startTime | moment}}</p>
              <p class="seance__format">{{seance.format}}</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

