@import '../../../../styles/variables.scss';

.admin {
  background-color: $overlay-color;
  padding-top: 128px;
  min-height: calc(100vh - 228px);
}

.list {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 0;
  padding-left: 0;

  &__item {
    display: inline;

    &:not(:last-child) {
      margin-right: 46px;
    }
  }
}

.link {
  color: $light-color;
  cursor: pointer;

  &.active {
    border-bottom: 2px solid $bright-color;
    font-weight: 700;
  }
}

.form {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
