@import '../../../../styles/variables.scss';

.modal-window {
  background-color: $white-color;
  width: 450px;
  height: 500px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;

  &__container {
    margin: 20px 40px;
  }
}

.list {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 0;
  padding-left: 0;
  padding-bottom: 20px;

  &__item {
    display: inline;

    &:first-child {
      margin-right: 46px;
    }
  }
}

.link {
  color: $overlay-color;
  cursor: pointer;

  &.active {
    border-bottom: 2px solid $bright-color;
    font-weight: 700;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  background-color: $overlay-color;
  cursor: pointer;
}
